* { 
    box-sizing: border-box; /* border y el padding cuente como anchura */
    font-family: 'Open Sans', sans-serif;

}
a { 
    
    text-decoration: none;
    text-decoration: hover;
    color: inherit;
}
img {
    max-width: 100%;
    height: auto;
}
a:hover {
    background-color: rgb(231, 199, 184);
}