.hdr{
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 4em;
    color: rgb(184, 79, 48);
    padding: 5px;
   
}
.row-full{
    width:100vw;
    position:relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}